{% block sendcloud_container %}
    <div class="sendcloud-container adjust-width">
        <slot>
            {% block sendcloud_container_slot %}{% endblock %}
        </slot>
    </div>
{% endblock %}
