{% block sendcloud_customs_info %}
    <div>
        <sw-loader class="sc-loader" v-if="isLoading"/>
        <sw-card :title="$tc('send-cloud.customsInfo.defaultValues.title')">
            <sendcloud-paragraph
                    :sendcloud-paragraph="$tc('send-cloud.customsInfo.defaultValues.paragraph')"></sendcloud-paragraph>

            <sw-select-field name="shipmentType"
                             id="shipmentType"
                             class="sendcloud-label-align"
                             :options="shipmentTypeOptions"
                             v-model="shipmentType"
                             :label="$tc('send-cloud.customsInfo.shipmentType')">
                <template v-slot:label>{{ $tc('send-cloud.customsInfo.shipmentType') }}</template>
                <option value="">({{ $tc('send-cloud.customsInfo.none') }})</option>
                <option v-for="(item, itemIndex) in sendcloudShipmentTypes" :value="item.value">
                    {{ $tc('send-cloud.customsInfo.shipmentTypes.'+item.label) }}
                </option>
            </sw-select-field>

            <sw-text-field @click="deleteBlurListener"
                           class="sendcloud-label-align"
                           name="hsCode"
                           v-model="hsCode"
                           :label="$tc('send-cloud.customsInfo.hsCode')">
                <template v-slot:label>{{ $tc('send-cloud.customsInfo.hsCode') }}</template>
            </sw-text-field>

            <sw-select-field class="sendcloud-label-align"
                             name="originCountry"
                             v-model="originCountry"
                             :options="sendcloudCountries"
                             :label="$tc('send-cloud.customsInfo.originCountry')">
                <template v-slot:label>{{ $tc('send-cloud.customsInfo.originCountry') }}</template>
                <option value="">{{ $tc('send-cloud.customsInfo.originCountrySelectMessage') }}</option>
                <option v-for="(item, itemIndex) in sendcloudCountries" :value="item.value">
                    {{ item.label }}
                </option>
            </sw-select-field>
        </sw-card>

        <sw-card :title="$tc('send-cloud.customsInfo.dataMapping.title')">
            <sendcloud-paragraph
                    :sendcloud-paragraph="$tc('send-cloud.customsInfo.dataMapping.paragraph')"></sendcloud-paragraph>
            <sw-select-field class="sendcloud-label-align"
                             name="mappedHsCode"
                             v-model="mappedHsCode"
                             :options="sendcloudCustomFields"
                             :label="$tc('send-cloud.customsInfo.hsCode')">
                <template v-slot:label>{{ $tc('send-cloud.customsInfo.hsCode') }}</template>
                <option value="">{{ $tc('send-cloud.customsInfo.hsCodeMappingSelectMessage') }}</option>
                <option v-for="(item, itemIndex) in sendcloudCustomFields" :value="item.value">
                    {{ item.label }}
                </option>
            </sw-select-field>
            <sw-select-field class="sendcloud-label-align"
                             name="mappedOriginCountry"
                             v-model="mappedOriginCountry"
                             :options="sendcloudCustomFields"
                             :label="$tc('send-cloud.customsInfo.originCountry')">
                <template v-slot:label>{{ $tc('send-cloud.customsInfo.originCountry') }}</template>
                <option value="">{{ $tc('send-cloud.customsInfo.originCountryMappingSelectMessage') }}</option>
                <option v-for="(item, itemIndex) in sendcloudCustomFields" :value="item.value">
                    {{ item.label }}
                </option>
            </sw-select-field>
        </sw-card>

        <sendcloud-form-button-container>
            <sw-button variant="primary" size="large" @click="saveConfiguration">Save</sw-button>
        </sendcloud-form-button-container>
    </div>
{% endblock %}
