{% block sendlcoud_button %}
    <div class="sendcloud-buttons-wrapper">
        <button @click="onClick" type="button" class="sendcloud-button">
            {{ sendcloudButtonLabel }}
        </button>
    </div>
{% endblock %}